* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-size: 100%;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
header nav {
  border-bottom: 1px solid rgb(223, 222, 222);
  font-size: 0.8em;
  height: auto;
  max-width: 100%;
  padding: 20px;
}
.material-icons {
  position: relative;
  top: 6px;
}
.menu {
  float: left;
}

.lang {
  float: right;
}

.clear {
  clear: both;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0.7)),
    url(https://www.xm.com/assets/img/pages/home/homepage-2020-2.jpg);
}

#intro {
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}

#intro h1 {
  font-weight: bold;
  font-size: 3.4em;
  letter-spacing: 3px;
  word-spacing: -10px;
  padding-bottom: 50px;
}

#intro h1::first-letter {
  color: red;
}

.pipe {
  color: rgba(242, 245, 239, 0.7);
  font-style: italic;
  margin: 0 15px 0 10px;
  height: 50px;
  background-color: rgb(158, 154, 154);
  display: inline-flex;
  transform: rotate(15deg);
  border: 0.5px solid rgba(243, 237, 237, 0.2);
}

#intro p span {
  text-decoration: underline;
}

#intro p {
  padding-bottom: 30px;
  padding-top: 20px;
}

.account-div {
  background-color: rgb(240, 42, 42);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
  font-family: sans-serif;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.account-div span {
  font-size: 0.6em;
  font-weight: normal;
}

#first-account-div {
  background-color: rgb(8, 165, 8);
}

h6 {
  text-align: center;
  opacity: 0.6;
  margin: 1.5em 0 4em 0;
}

.flex-container {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: auto;
  color: rgb(0, 0, 0);
  display: flex;
  align-content: center;
  margin: auto;
  flex-wrap: wrap;
}

#second-section div {
  width: 40%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  justify-self: center;
  text-align: center;
  font-size: 2em;
  color: rgb(184, 28, 28);
}
#second-section div span {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 0.4em;
  display: block;
}

#empty-div {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100vw;
  margin-bottom: 5em;
}

footer div {
  font-size: 0.8em;
  margin: 1.2em;
  text-align: justify;
  opacity: 0.8;
}

footer #copy-right {
  margin-bottom: 2em;
  text-align: center;
}

#footer-content {
 margin-bottom: 15em;
 margin-left: auto;
 margin-right: auto;
 width: 90vw;
}

#risk-bar {
  background-color: rgba(255, 255, 255);
  opacity: 1;
  width: 100vw;
  margin: 0 !important;
  color: rgb(158, 156, 156);
  padding: 0.4em 1.1em;
  position: fixed;
  bottom: 0;
}

#risk-bar span {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}
#risk-bar div {
  opacity: 1;
  width: 85vw;
  margin: auto;
  font-size: .9em;
}
#risk-bar span i {
  position: relative;
  top: 5px;
  left: 3px;
}

#bold-risk {
  color: rgb(0, 0, 0);
}
#arrow {
  height: 32px;
  width: 35px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  margin: 0;
  color: rgb(107, 107, 105);
  text-align: center;
  position: fixed;
  bottom: 25%;
  z-index: 1;
  left: 86%;
}

#ipad-intro-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  bottom: 20px;
  display: none;
}

.my-slides {
  display: none;
  text-align: center;
  
  margin-bottom: 20px;
  padding: 14px;
}

.my-slides span {
  display: none;
}

.my-slides h2 {
  font-size: 2em;
  padding-bottom: 7px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin: -22px 30px;
  padding: 16px;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: rgb(224, 222, 222);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#platform-container {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100vw;
  text-align: center;
  display: none;
}

#platform-container img {
  width: 80%;
}
#platform-text {
  padding: 30px;
}
#platform-text h3 {
  margin: 15px;
}
.laptop-icon {
  float: left;
  position: relative;
  left: 10%;
  top: -1px;
}

#laptop-platform {
  color: rgb(194, 34, 34);
  width: 50%;
  padding: 15px;
  margin: auto;
  border: 1px solid rgb(194, 34, 34);
  margin-bottom: 50px;
}

/* Charts/Products css*/

#charts-flex-containner {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  display: none;
}

.charts-content {
  color: rgb(78, 77, 77);
  width: 22%;
  margin: 20px;
  text-align: center;
  padding: 10px;
}
.charts-content p {
  font-size: 0.8em;
}
.charts-content i {
  font-size: 5em;
  color: rgb(194, 34, 34);
}
/*Awards section*/
#latest-awards {
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding: 100px 0 50px;
  color: rgb(88, 86, 86);
  width: 100vw;
  display: none;
}
#awards-containner {
  background-color: rgb(247, 247, 247);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8em;
  width: 100vw;
  display: none;
}

.awards-content {
  width: 40%;

  margin: 30px 10px;
  text-align: center;
}

.h-line {
  border-bottom: 2px solid rgb(226, 223, 223);
  width: 50%;
  margin: 20px auto;
}

#view-our-awards {
  background-color: rgb(247, 247, 247);
  padding: 100px 0;
  color: rgb(88, 86, 86);
  text-align: center;
  width: 100vw;
  display: none;
}

#view-our-awards span {
  border: 1px solid rgb(117, 117, 117);
  padding: 15px 50px;
  font-weight: 700;
}

#large-view-nav {
  display: none;
}

/*Reasons to chooose Broker section */

#choose-broker-flex-containner {
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(7, 7, 7);
  width: 100vw;
  display: none;
  padding-bottom: 100px;
}
#broker-heading {
  width: 80%;
}

#broker-heading h2 {
  padding: 40px 0 20px;
}
#broker-heading p {
  font-size: 0.8em;
  text-align: center;
}
.broker-content {
  width: 45%;
  margin: 10px;
  text-align: left;
  padding: 80px 0;
}
.broker-content p {
  font-size: 0.8em;
}
.broker-content i {
  float: left;
  color: rgb(165, 42, 42);
  font-size: 5em;
  height: 120%;
  padding-right: 30px;
}

#large-view-footer{
  display: none;
}

/* Ipad Responsive style*/
@media screen and (min-width: 411px){

 #arrow{
   bottom: 20%;
 }
}

@media screen and (min-width: 768px) {
  #intro h2,
  #intro p {
    display: none;
  }

  #account-div-containner {
    justify-content: center;
    margin: auto;
    position: relative;
  }
  .account-div {
    width: 45%;
  }
  #first-account-div {
    float: left;
    margin-left: 28px;
  }
  #second-account-div {
    float: right;
    margin-right: 28px;
  }
  #ipad-intro-container {
    display: block;
  }
  #empty-div {
    margin-bottom: 0;
  }
  #arrow {
    bottom: 5.5%;
    left: 95%;
    z-index: 1;
    color: rgb(0, 0, 0);
  }

  #charts-flex-containner,
  #awards-containner,
  #choose-broker-flex-containner {
    display: flex;
  }
  #latest-awards,
  #view-our-awards,
  #platform-container {
    display: block;
  }
}

/* computers and larger screen design*/

 {
  .account-div {
    width: 45%;
  }

  #account-div-containner{
    width: 900px;
  }
  #large-view-nav{
    display: block;
  }
  
#first-bar{
    border-bottom: 1px solid rgb(153, 151, 151);; 
    min-height: 60px;
    display: flex;
    justify-content: center;
  }
 
  #p-div {
    font-size: .6em;
    width: 300px;
    word-wrap: normal;
    padding-left: 10px;
    display: flex;
    align-items: center;
    float: left;
    border-left: 1px solid rgb(153, 151, 151);
    border-right: 1px solid rgb(153, 151, 151);
  }
 
  #first-bar ul li{
  display: inline;
  border: 1px solid rgb(153, 151, 151);
  margin: 5px;
  font-size: .7em;
  padding: 8px;
  }

  #first-bar ul {
    margin: 15px 0 0 30px;
  }

  header nav{
    display: none;
  }
  #second-large-view-nav{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  }
 
  #second-large-view-nav ul li{
    display: inline;
    padding-right: 4px;
    font-size: 0.7em;
    
  }

  #dk-large-view-logo{
    width: 300px;
    font-size: 1.6em;
    font-style: italic;
  }

  #dk-large-view-logo::first-letter{
    color: red;
  }
#second-pipe{
  height: 34px;
}
  #open-account-nav{
    background-color:rgb(8, 165, 8);
  }

  #second-section div {
  width: 20%;
  padding: 10px;
  }

  .charts-content {
    width: 20%;
  }

  .awards-content {
    width: 150px;
    font-size: 0.8em;
  }

  #latest-awards{
    font-size: 1.3em;
  }

  .broker-content {
    width: 40%;
    padding: 30px 0;
  }

  #large-view-footer{
    width: 100vw;
    
    background-color: rgb(68, 67, 67);
   margin: auto;
   display: block;
   color: rgba(255, 255, 255, 1) !important;
    
  }

  #large-view-footer-container{
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  .large-view-footer-content{
    font-size: 1.0em; 
  }

  #arrow {
    bottom: 3.5%;
  }
}
